# Virtual Environment
venv/**
.venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# YOLOv5 specific
yolov5/runs/
yolov5/data/images/
yolov5/data/scripts/
yolov5/.github/
yolov5/classify/
yolov5/segment/
yolov5/utils/aws/
yolov5/utils/docker/
yolov5/utils/flask_rest_api/
yolov5/utils/google_app_engine/
yolov5/utils/loggers/

# Keep essential YOLOv5 files
!yolov5/models/
!yolov5/utils/
!yolov5/data/
!yolov5/*.py
!yolov5/requirements.txt

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Local development settings
.env

# System Files
.DS_Store
Thums.db

# Large binary files
*.dll
*.pyd
*.lib

# PyTorch model files
*.bin
*.onnx

# Specific large files
venv/Lib/site-packages/cv2/cv2.pyd
venv/Lib/site-packages/torch/lib/torch_cpu.dll
venv/Lib/site-packages/torch/lib/dnnl.lib